@use '../abstract' as *;

/*----------------------------------------*/
/*  03. HERO CSS START
/*----------------------------------------*/

.hero {
  &__height {
    min-height: 950px;

    @media #{$lg} {
      min-height: 850px;
    }
    @media #{$md} {
      min-height: 750px;
    }
    @media #{$sm} {
      min-height: 1100px;
    }
    @media #{$xs} {
      min-height: 926px !important;
    }
    &-2 {
      @media #{$sm} {
        min-height: 1350px;
      }
      @media #{$xs} {
        min-height: 926px !important;
      }
    }
  }

  &__area {
    align-items: center;
    @media #{$xs} {
      align-items: end;
      padding-bottom: 12rem;
    }
    & iframe {
      width: 40%;
      height: 400px;
      @media #{$lg} {
        width: 60%;
      }
      @media #{$md} {
        width: 70%;
      }
      @media #{$sm} {
        width: 80%;
      }
      @media #{$xs} {
        width: 100%;
      }
    }
  }

  &__title {
    font-size: 60px;
    line-height: 1;
    @media #{$xl} {
      font-size: 55px;
    }
    @media #{$lg} {
      font-size: 45px;
    }
    @media #{$md} {
      font-size: 35px;
    }
    @media #{$sm} {
      font-size: 50px;
    }
    @media #{$xs} {
      font-size: 30px;
    }
    & span {
      &:first-child {
        font-weight: 300;
        display: block;
      }
      // &.yellow-shape {
      //   position: relative;
      //   z-index: 1;
      //   & img {
      //     position: absolute;
      //     bottom: 22px;
      //     left: -8px;
      //     z-index: -1;
      //     -webkit-animation: section-animation 3s infinite;
      //     animation: section-animation 3s infinite;

      //     @media #{$md} {
      //       bottom: 12px;
      //       height: 40% !important;
      //     }
      //   }
      // }
    }
    &-2 {
      margin-bottom: 20px;
    }
  }
  &__content {
    &-wrapper {
      margin-top: 0px !important;
      @media #{$lg} {
        margin-top: 0px !important;
      }
    }
    &-2 {
      & h4,
      h3 {
        color: $white;
      }
      & h4 {
        font-size: 20px;
        margin: 1rem 0;
        font-weight: 400;
      }
      & h3 {
        color: $white;
        font-size: 4rem;
        line-height: 5rem;
        @media #{$xl} {
          font-size: 55px;
        }
        @media #{$lg} {
          font-size: 45px;
        }
        @media #{$md} {
          font-size: 45px;
        }
        @media #{$sm} {
          font-size: 50px;
          text-shadow: rgba(0, 0, 0, 0.7) 3px 1px 10px;
        }
        @media #{$xs} {
          font-size: 40px;
          text-shadow: rgba(0, 0, 0, 0.7) 3px 1px 10px;
        }
      }
    }
    &-flex {
      @media #{$sm} {
        flex-direction: column;
      }
      @media #{$xs} {
        flex-direction: column;
        align-items: center;
      }
      display: flex;

      &.right-col,
      .left-col {
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: auto;
        width: 50%;
      }
    }
  }
  &__thumb {
    z-index: 1;
    height: 100%;
    &-big {
      position: relative;
      & img {
        max-width: 400px;
        max-height: 460px;

        @include border-radius(40px 4px 40px 4px);
        @include box-shadow(0px 30px 60px 0px rgba(1, 11, 60, 0.14));

        @media #{$md} {
          width: 100%;
        }
        @media #{$sm} {
          margin-top: 50px;
          width: 100%;
        }
        @media #{$xs} {
          margin-top: 50px;
          width: 100%;
        }
      }
    }
    &-sm {
      @media #{$xl} {
        margin-left: -50px;
      }
      @media #{$lg} {
        margin-left: -160px;
        margin-top: -95px;
      }
      & img {
        max-width: 200px;
        max-height: 240px;
        @include border-radius(4px 40px 4px 40px);
        @include box-shadow(0px 30px 60px 0px rgba(1, 11, 60, 0.14));
      }
    }
    &-shape {
      & img {
        position: absolute;
        z-index: -1;

        &.hero-1-dot {
          bottom: -25px;
          left: -30px;
          -webkit-animation: hero-dot-1 5s linear 0s infinite alternate;
          -moz-animation: hero-dot-1 5s linear 0s infinite alternate;
          -o-animation: hero-dot-1 5s linear 0s infinite alternate;
          animation: hero-dot-1 5s linear 0s infinite alternate;
        }
        &.hero-1-circle-3 {
          bottom: -47px;
          right: 1%;
        }
        &.hero-1-circle-4 {
          top: -50px;
          right: 10%;
        }
      }
    }
    &-2 {
      position: relative;
      z-index: 1;
    }
  }
  &__quote {
    position: absolute;
    bottom: 60px;
    right: -200px;
    padding: 15px 25px;
    padding-bottom: 20px;
    background: $white;
    @include border-radius(4px);
    @include box-shadow(0px 30px 60px 0px rgba(1, 11, 60, 0.14));

    @media #{$xl} {
      right: -145px;
    }
    @media #{$lg} {
      right: 60px;
      bottom: -50px;
    }
    @media #{$md} {
      right: 30px;
      bottom: -50px;
    }
    @media #{$sm} {
      right: 30px;
      bottom: -50px;
    }
    @media #{$xs} {
      right: 15px;
      bottom: -50px;
    }
    & span {
      font-size: 14px;
      color: $e-text-2;
    }
    & h4 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0;
      line-height: 1;
    }

    &-animation {
      animation-duration: 2.5s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-name: hero-bounce;
    }
  }
  &__shape {
    & img {
      position: absolute;
      &.hero-1-circle {
        top: 25%;
        left: 5%;
        -webkit-animation: hero-circle-1 6s linear 0s infinite alternate;
        -moz-animation: hero-circle-1 6s linear 0s infinite alternate;
        -o-animation: hero-circle-1 6s linear 0s infinite alternate;
        animation: hero-circle-1 6s linear 0s infinite alternate;
      }
      &.hero-1-circle-2 {
        bottom: 29%;
        left: 0;
      }
      &.hero-1-dot-2 {
        right: 0;
        bottom: 38%;
      }
    }
  }
  &__search {
    &-input {
      position: relative;
      width: 370px;
      @media #{$xs} {
        width: 100%;
      }
      & input {
        width: 100%;
        height: 54px;
        line-height: 54px;
        padding: 0 24px;
        padding-right: 35px;
        font-size: 14px;
        @include border-radius(4px);
        outline: none;
        border: none;

        &::placeholder {
          color: $e-text-7;
        }
      }
      & button {
        position: absolute;
        top: 50%;
        right: 24px;
        @include transform(translateY(-50%));
        font-size: 18px;
        background: transparent;
        & i {
          &::after {
            color: $black;
            opacity: 1;
          }
          &::before {
            color: $e-text-1;
          }
        }
      }
    }
    & p {
      font-size: 16px;
      color: $e-text-3;
    }
  }

  &__button {
    gap: 5rem;
    @media #{$xs} {
      justify-content: center !important;
      gap: 1rem;
    }
    @media #{$md} {
      gap: 1rem;
    }
    &-video {
      @media #{$md} {
        flex-direction: column;
      }
      @media #{$xs} {
        flex-direction: column;
      }
      & p {
        color: $white;
        font-weight: 600;
        font-size: 1.2rem;
      }
    }
    &-play {
      background-color: transparent;
      position: absolute;
      transform: scale(1) translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 25px;
      transition: transform .5s;
      
    }
    &-circle {
      &-1 {
        position: relative;
        width: 110px;
        background-color: transparent !important;
        height: 110px;
        overflow: hidden;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        animation: hero-buttom-circle-1 0.4s linear infinite alternate;
        transition: transform .5s;
        &:hover {
          transform: scale(1.1);
        }
        &:active {
          transform: scale(1);
          transition: scale 0.5s;
        }
        @include hover {
          .hero__button-play {
            @include transform(scale(1.5) translate(-25%, -40%));
          }
        }
        @include active {
          .hero__button-play {
            @include transform(scale(1) translate(-50%, -50%));
            transition: scale 0.5s;
          }
        }
      }
      &-2 {
        width: 95px;
        height: 95px;
        border: 2px solid white;
        border-radius: 50%;
        position: absolute;
        border: 2px solid rgba(255, 255, 255, 0.3);
        top: 50%;
        left: 50%;
        opacity: 100%;
        transform: translate(-50%, -50%);
        animation: hero-buttom-circle-2 0.2s linear infinite alternate;
      }
      &-3 {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: $white;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }
    &-demo {
      padding: 1rem 1.4rem;
      @media #{$md} {
        padding: 2rem .9rem !important;
      }
      border-radius: 15px;
      color: $e-blue-7;
      font-size: 1.2rem;
      font-weight: 600;
      -webkit-box-shadow: 3px -2px 15px -8px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 3px -2px 15px -8px rgba(0, 0, 0, 0.75);
      box-shadow: 3px -2px 15px -8px rgba(0, 0, 0, 0.75);
    }
  }

  &__stadistics {
    position: absolute;
    bottom: auto !important;
    top: 34% !important;
    right: 50%;
    width: 588px;
    column-gap: 1.5rem;
    animation: fadeInUp 1s ease-in-out;
    @media #{$md} {
      top: 25% !important;
      right: 38%;
      width: 450px;
    }
    @media #{$sm} {
      right: 50% !important;
      transform: translate(50%, -50%);
      top: 36% !important;
    }
    @media #{$xs} {
      right: 50% !important;
      transform: translate(50%, -50%);
      top: 38% !important;
      column-gap: .5rem;
      width: 95%;
    }
    @media #{$lg} {
      top: 35% !important;
      width: 468px;
    }
    @media #{$xl} {
      width: 558px;
    }
  }

  &__cart {
    @include border-radius(50px);
    padding: 25px 10px;
    border: solid #006dd1 1px;
    text-align: center;
    width: 100%;
    transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
    // &:hover //* Efecto de borrado
    //   @include transform(translateY(-5px) translate3d(0, -5px, 0));
    // }
    @media #{$md} {
      padding: 10px 5px;
    }
    &-3 {
      -webkit-animation: hero-bounce 1s 1 3s;
      animation: hero-bounce 1s 1 3s;
    }
    &-2 {
      -webkit-animation: hero-bounce 1s 1 2s;
      animation: hero-bounce 1s 1 2s;
    }
    &-1 {
      -webkit-animation: hero-bounce 1s 1 1s;
      animation: hero-bounce 1s 1 1s;
    }
    &-icon {
      & span {
        display: inline-block;
        line-height: 36px;
        border-radius: 50%;
        & svg {
          height: 70px;
          @media #{$md} {
            height: 60px;
          }
        }
      }
    }
    &-text {
      & h5 {
        font-size: 30px;
        margin-bottom: 0;
        @media #{$md} {
          font-size: 25px;
        }
      }
      & p {
        font-size: 20px;
        color: $e-text-2;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 0.5rem;
      }
    }
  }

  &__promotion {
    position: absolute !important;
    left: 10% !important;
    top: 44% !important;
    @include border-radius(4px);
    @include box-shadow(0px 30px 60px 0px rgba(1, 11, 60, 0.14));
    padding: 15px 20px;
    padding-bottom: 10px;
    @media #{$md} {
      left: 20% !important;
      top: 71% !important;
    }
    @media #{$sm} {
      left: 9% !important;
      top: 71% !important;
    }
    @media #{$xs} {
      left: 9% !important;
      top: 52% !important;
    }
    &.education {
      bottom: 28% !important;
      top: auto !important;
      left: -11% !important;
    }
    &-icon {
      & span {
        display: inline-block;
        width: 36px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        @include border-radius(50%);
        background: #ff7921;
        & svg, img {
          height: 24px;
          fill: $white;
        }
        &.cap {
          background: #5773ff;
        }
      }
    }
    &-text {
      & h5 {
        font-size: 16px;
        margin-bottom: 0;
      }
      & p {
        font-size: 14px;
        color: $e-text-2;
        margin-bottom: 0;
      }
    }
  }
  &__class {
    position: absolute;
    top: auto;
    left: 54%;
    bottom: -50%;
    @include box-shadow(0px 30px 60px 0px rgba(1, 11, 60, 0.14));
    background: rgba($color: $white, $alpha: 0.9);
    @include border-radius(4px);
    padding: 20px;
    @media #{$lg} {
      top: auto;
      left: 40%;
      bottom: -30%;
    }
    &-thumb {
      & img {
        width: 34px;
        height: 34px;
        @include border-radius(50%);
      }
    }
    &-text {
      & h5 {
        font-size: 16px;
        margin-bottom: 0;
      }
      & p {
        font-size: 14px;
        color: $e-text-2;
        margin-bottom: 0;
      }
      & a {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: $white;
        font-weight: 500;
        padding: 0 15px;
        @include border-radius(4px);
        background: #e233fb;
      }
    }
  }

  &__mic {
    position: absolute;
    top: -10%;
    right: 10%;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: hero-bounce;
    @media #{$md} {
      top: 5%;
      right: 10%;
    }
    & span {
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: #ff3c4e;
      @include box-shadow(0px 14px 30px 0px rgba(131, 2, 14, 0.2));
      @include border-radius(6px);
      & svg {
        height: 28px;
        fill: $white;
      }
    }
  }
}

.hero-purple {
  position: absolute;
  // @media #{$sm} {
  //     left: 0;
  //     top: 0;
  // }
  max-width: 750px;
  @media #{$lg} {
    width: 100%;
  }
  @media #{$xl} {
    width: 100%;
  }
  @media #{$sm} {
    width: 65%;
    top: 8%;
    left: 20%;
  }
  @media #{$md} {
    width: 100%;
    max-width: 500px;
    top: 15%;
    left: 40%;
  }
  @media #{$xs} {
    width: 100%;
    top: 10%;
    left: 0%;
  }
  top: 15%;
  left: 48%;
}

@keyframes hero-dot-1 {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes hero-bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hero-circle-1 {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

@keyframes hero-buttom-circle-1 {
  from {
    border-color: rgba(255, 255, 255, 0.1);
  }
  to {
    border-color: rgba(255, 255, 255, 0.3);
  }
}

@keyframes hero-buttom-circle-2 {
  from {
    border-color: rgba(255, 255, 255, 0.3);
  }
  to {
    border-color: rgba(255, 255, 255, 0.5);
  }
}
